<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @coin.name %>
</p>

<p>
  <strong>Symbol:</strong>
  <%= @coin.symbol %>
</p>

<p>
  <strong>Coin market cap:</strong>
  <%= @coin.coin_market_cap_id %>
</p>

<p>
  <strong>Cryptomkt:</strong>
  <%= @coin.cryptomkt_id %>
</p>

<p>
  <strong>Binance:</strong>
  <%= @coin.binance_id %>
</p>

<%= link_to 'Edit', edit_coin_path(@coin) %> |
<%= link_to 'Back', coins_path %>
